/*
Theme Name: ROUA - Creative Portfolio WordPress Theme
Theme URI: http://demo.stylishthemes.co/roua/
Author: StylishThemes
Author URI: http://stylishthemes.co
Description: Roua is a theme for clean & creative portfolio websites.
Version: 4.0.1
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: diva
Tags: black, blue, white, two-columns, responsive-layout, threaded-comments, translation-ready, custom-menu
*/

.pagination-roua {
    padding-bottom: 45px;
}

.portfolio-single .header-portfolio-single .like span {
    text-align: center;
}

.zilla-likes-postfix {
    margin: 0 !important;
}

section.no-mb .breadcrumb {
    margin-bottom: 0px;
}

.owl-carousel .owl-item img {
    height: auto;
}

.wp-caption, .wp-caption-text, .gallery-caption, .bypostauthor, .aligncenter {}

/*.isotope-item figure {*/
    /*min-height: 450px;*/
/*}*/

.comment-container ul.comments li .comment .left-section img {
    height:auto;
}

.content-portfolio-single > p {
    /*display: inline;*/
}

#main-content img { height:auto; }

.pagination-roua .middle .icon span { background: #dadada; }

.woocommerce > p.cart-empty { min-height: 300px; }

.roua-menu .menu ul li ul {
    position: relative;
    padding-left: 40px;
}
.roua-menu .menu ul li ul:after {
    content: '';
    width: 1px;
    background: #c9c9c9;
    height: 100%;
    top: -5px;
    position: absolute;
    display: block;
    left: 20px;
}
.roua-menu .menu ul li ul li a {
    font-size: 21px;
    line-height: 30px;
    padding-bottom: 10px;
}
.roua-menu .menu ul li ul li a:after {
    height: 2px;
}
.roua-menu .menu ul li ul li a:hover:after {
    bottom: 10px;
}

.portfolio figure .item-cover-anchor {
    position: absolute !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.portfolio ul li figure .content .left {
    z-index: 2;
}

.portfolio-single .footer-portfolio-single .social-icons a:hover {
    cursor:pointer;
}

.woocommerce #reviews img.avatar {
    display: none;
}