/* version 0.6.14 */


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1 Common styles
2 Widgets styles
	2.1 Fluid images widget
	2.2 Small thumbnails widget
3 Shortcodes styles
	3.1 Basic layout
	3.2 Thumbnail layout
	3.3 Drop cap layout
    3.4 Grid layout
--------------------------------------------------------------*/


/**
 * 1
/* -------------------------- start common styles -------------------------- */

.overlay-no-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.overlay-dark::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.5)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#80000000', GradientType=0);
  /* IE6-9 */
}

.overlay-light::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0.9)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%);
  /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e6ffffff', GradientType=0);
  /* IE6-9 */
}


/**
 * 2
/* -------------------------- start widgets styles -------------------------- */


/**
 * 2.1
 * -------------------------- FLUID IMAGES WIDGET -------------------------- */

.lptw_recent_posts_fluid_images_widget .widget-title {
  border-bottom: 0 none;
  color: #333333;
  font-size: 1.25em;
  font-weight: 600;
  letter-spacing: 0.063em;
  line-height: 1em;
  margin: 0;
  padding: 0 0 15px;
  text-transform: uppercase;
}

ul.lptw-recent-posts-fluid-images-widget {
  list-style: none;
  margin: 0;
  padding: 0;
}

.lptw_recent_posts_fluid_images_widget li {
  margin-bottom: 30px;
}

.lptw_recent_posts_fluid_images_widget .lptw-post-thumbnail {
  position: relative;
}

.lptw_recent_posts_fluid_images_widget .lptw-post-thumbnail-link {
  line-height: 0.5em;
}

.lptw_recent_posts_fluid_images_widget .overlay {
  position: relative;
  width: 100%;
  height: 100%;
}

.lptw_recent_posts_fluid_images_widget .lptw-post-header {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  padding: 10px 10px;
  line-height: 1.25;
  z-index: 10;
}

.lptw_recent_posts_fluid_images_widget .lptw-post-date {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 300;
}

.lptw_recent_posts_fluid_images_widget .date-dark {
  color: #ffffff;
}

.lptw_recent_posts_fluid_images_widget .date-light {
  color: #111111;
}

.lptw_recent_posts_fluid_images_widget .lptw-post-title {
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}

.lptw_recent_posts_fluid_images_widget .title-dark {
  color: #ffffff;
}

.lptw_recent_posts_fluid_images_widget .title-light {
  color: #111111;
}

.lptw_recent_posts_fluid_images_widget .lptw-post-subtitle {
  font-weight: 400;
  display: block;
  margin: 5px 0;
  font-size: 0.875em;
  font-style: italic;
}

.lptw_recent_posts_fluid_images_widget .subtitle-dark {
  color: #ffffff;
}

.lptw_recent_posts_fluid_images_widget .subtitle-light {
  color: #111111;
}


/**
 * 2.2
 * -------------------------- SMALL THUMBNAILS WIDGET -------------------------- */

.lptw_recent_posts_thumbnails_widget .widget-title {
  border-bottom: 0 none;
  color: #333333;
  font-size: 1.25em;
  font-weight: 600;
  letter-spacing: 0.063em;
  line-height: 1em;
  margin: 0;
  padding: 0 0 15px;
  text-transform: uppercase;
}

ul.lptw-recent-posts-thumbnails-widget {
  list-style: none;
  margin: 0;
  padding: 0;
}

.lptw_recent_posts_thumbnails_widget li {
  margin-bottom: 30px;
  overflow: hidden;
}

.lptw_recent_posts_thumbnails_widget .lptw-post-header {
  color: #333333;
  display: block;
  min-height: 100px;
}

.lptw_recent_posts_thumbnails_widget .lptw-post-date {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 300;
  line-height: 1em;
  margin-bottom: 10px;
}

.lptw_recent_posts_thumbnails_widget a.lptw-thumbnail-link {
  display: block;
  float: left;
  margin-right: 10px;
  line-height: 1;
}

.lptw_recent_posts_thumbnails_widget img {
  line-height: 1;
}

.lptw_recent_posts_thumbnails_widget a.lptw-header-link {
  text-decoration: none;
  color: #333333;
  line-height: 1.5;
  padding-bottom: 5px;
  display: block;
}

.lptw_recent_posts_thumbnails_widget .lptw-post-subtitle {
  font-weight: 400;
  display: block;
  margin: 0 0 5px 0;
  font-size: 0.875em;
  font-style: italic;
}


/* -------------------------- end of widgets styles -------------------------- */


/**
 * 3
 * -------------------------- start shortcodes styles -------------------------- */

.lptw-columns-fixed {
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0;
  box-sizing: content-box;
}

.lptw-columns-1,
.lptw-columns-2,
.lptw-columns-3,
.lptw-columns-4,
.lptw-columns-5,
.lptw-columns-6,
.lptw-columns-7,
.columns-8,
.lptw-columns-9,
.lptw-columns-10,
.lptw-columns-11,
.lptw-columns-12 {
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0;
  box-sizing: border-box;
}

.lptw-columns-1 {
  width: 100%;
}

.lptw-columns-2 {
  width: 50%;
}

.lptw-columns-3 {
  width: 33.33333333%;
}

.lptw-columns-4 {
  width: 25%;
}

.lptw-columns-5 {
  width: 20%;
}

.lptw-columns-6 {
  width: 16.66666667%;
}

.lptw-columns-7 {
  width: 14.28571429%;
}

.lptw-columns-8 {
  width: 12.5%;
}

.lptw-columns-9 {
  width: 11.11111111%;
}

.lptw-columns-10 {
  width: 10%;
}

.lptw-columns-11 {
  width: 9.09090909%;
}

.lptw-columns-12 {
  width: 8.33333333%;
}


/**
 * 3.1
 * -------------------------- BASIC LAYOUT -------------------------- */

#basic-container {
  overflow: hidden;
}

.basic-layout {
  line-height: 0.5em;
  overflow: hidden;
}

.basic-layout header {
  position: relative;
}

.basic-layout .lptw-post-thumbnail img {
  line-height: 0.5em;
}

.basic-layout .lptw-thumbnail-noimglink {
  display: block;
  width: 100%;
  min-height: 200px;
}

.basic-layout .user-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.basic-layout .lptw-post-header {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  padding: 1rem;
  z-index: 10;
}

.basic-layout .lptw-post-date {
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.25em;
  line-height: 1.5em;
  text-decoration: none;
}

.basic-layout .date-dark,
.basic-layout .date-dark:visited,
.basic-layout .date-dark:focus {
  color: #ffffff;
  outline: none;
}

.basic-layout .date-dark:hover {
  color: #eeeeee;
}

.basic-layout .date-light,
.basic-layout .date-light:visited,
.basic-layout .date-light:focus {
  color: #111111;
}

.basic-layout .date-light:hover {
  color: #444444;
}

.basic-layout .lptw-post-title {
  font-weight: 600;
  line-height: 1.5em;
  text-decoration: none;
}

.basic-layout .title-dark,
.basic-layout .title-dark:visited,
.basic-layout .title-dark:focus {
  color: #ffffff;
}

.basic-layout .title-dark:hover {
  color: #eeeeee;
}

.basic-layout .title-light,
.basic-layout .title-light:visited,
.basic-layout .title-light:focus {
  color: #111111;
}

.basic-layout .title-light:hover {
  color: #444444;
}

.basic-layout .lptw-post-subtitle {
  font-style: italic;
  font-weight: 400;
  line-height: 1.5em;
  display: block;
  font-size: 0.875em;
}

.basic-layout .subtitle-dark,
.basic-layout .subtitle-dark:visited,
.basic-layout .subtitle-dark:focus {
  color: #f0f0f0;
}

.basic-layout .subtitle-light,
.basic-layout .subtitle-light:visited,
.basic-layout .subtitle-light:focus {
  color: #222222;
}

.basic-layout .lptw-post-thumbnail-link {}

.basic-layout .fluid-image-wrapper {
  display: block;
}

.basic-layout img.fluid {
  width: 100%;
  max-width: 100%;
  height: auto;
}


/**
 * 3.2
 * -------------------------- THUMBNAIL LAYOUT -------------------------- */

#thumbnail-container {
  overflow: hidden;
}

.thumbnail-layout {
  position: relative;
/*  line-height: 0.5em;*/
  overflow: hidden;
}

.thumbnail-layout .lptw-thumbnail-link {
  display: block;
  float: left;
  margin-right: 1em;
}

.thumbnail-layout .lptw-thumbnail-noimglink {
  display: block;
  float: left;
  margin-right: 1rem;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 3em;
  font-weight: 600;
}

.thumbnail-layout .lptw-post-header {
  color: #333333;
}

.thumbnail-layout .lptw-post-date {
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.125em;
  line-height: 1em;
  margin-bottom: 0.25em;
}

.thumbnail-layout .lptw-post-title {
  font-size: 1em;
  line-height: 1.5em;
  text-decoration: none;
  color: #333333;
  margin-bottom: 5px;
  text-decoration: none;
}

.thumbnail-layout .lptw-post-subtitle {
  font-style: italic;
  font-weight: 400;
  line-height: 1.5em;
  display: block;
  font-size: 0.875em;
  color: #444444;
  margin: 5px 0;
}


/**
 * 3.3
 * -------------------------- DROP CAP LAYOUT -------------------------- */

#dropcap-container {
  overflow: hidden;
}

.dropcap-layout {
  position: relative;
  overflow: hidden;
}

.lptw-dropcap-date {
  background-color: #4CAF50;
  text-align: center;
  width: 100px;
  height: 100px;
  float: left;
  margin: 0 1em 0 0;
}

.lptw-dropcap-day {
  color: #ffffff;
  font-size: 3em;
  display: block;
  margin: 0.5em 0 0 0;
  line-height: 0.875em;
}

.lptw-dropcap-month {
  color: #ffffff;
  font-size: 1em;
  display: block;
}

.lptw-dropcap-date-link {
  text-decoration: none;
  color: #333333;
}

.dropcap-layout .lptw-post-subtitle {
  font-style: italic;
  font-weight: 400;
  line-height: 1.5em;
  display: block;
  font-size: 0.875em;
  color: #444444;
  margin: 5px 0;
}


/**
 * 3.4
 * -------------------------- GRID LAYOUT -------------------------- */

.lptw-container {
  overflow: hidden;
}

.grid-layout .overlay {
  display: none;
}

.lptw-post-grid-img {
  display: block;
  line-height: 1;
}

.grid-layout .lptw-post-date {
  display: block;
  padding: 0 1rem;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.125em;
  line-height: 1em;
  margin: 0.5rem 0 0.25em 0;
  text-decoration: none;
}

.grid-layout .lptw-post-grid-link {
  line-height: 1;
}

.grid-layout .lptw-post-title {
  display: block;
  font-weight: 600;
  padding: 0 1rem;
  margin: 0.5rem 0 0.25em 0;
  text-decoration: none;
}

.grid-layout .post-excerpt {
  display: block;
  padding: 0 1rem 1rem 1rem;
  font-size: 0.75em;
}

.lptw-grid-element {
  /*min-height: 400px;*/
  overflow: hidden;
  box-sizing: border-box;
}

.grid-element-dark {
  background-color: #2f2f33;
}

.grid-element-light {
  background-color: #ffffff;
}

.grid-layout .read-more-link {
  text-decoration: underline;
}

.grid-layout .read-more-link:hover {
  text-decoration: none;
}

.grid-layout .date-dark,
.grid-layout .date-dark:visited,
.grid-layout .title-dark,
.grid-layout .title-dark:visited,
.grid-layout .link-dark,
.grid-layout .link-dark:visited {
  color: #ffffff;
}

.grid-layout .date-dark:hover,
.grid-layout .title-dark:hover,
.grid-layout .link-dark:hover {
  color: #eeeeee;
}

.grid-layout .content-dark {
  color: #bbbbbb;
}

.grid-layout .date-light,
.grid-layout .date-light:visited,
.grid-layout .title-light,
.grid-layout .title-light:visited,
.grid-layout .link-light,
.grid-layout .link-light:visited {
  color: #111111;
}

.grid-layout .date-light:hover,
.grid-layout .title-light:hover,
.grid-layout .link-light:hover {
  color: #444444;
}

.grid-layout .lptw-post-subtitle {
  display: block;
  font-weight: 400;
  padding: 0 1rem;
  margin: 0.5rem 0 0.25em 0;
  font-size: 0.875em;
  font-style: italic;
}

.grid-layout .subtitle-dark {
  color: #f0f0f0;
}

.grid-layout .subtitle-light {
  color: #252525;
}

.grid-layout .content-light {
  color: #333333;
}

.lptw-featured .lptw-post-date {
  font-size: 1.5em;
}

.lptw-featured .lptw-post-title {
  font-size: 1.75em;
}

.lptw-featured .lptw-post-header {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  padding: 1rem;
  z-index: 5;
}

@media only screen and ( max-width: 640px) {
  .lptw-featured .lptw-post-date {
    font-size: 1.25em;
  }
  .lptw-featured .lptw-post-title {
    font-size: 1.125em;
  }
  .lptw-featured .lptw-post-header {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    padding: 0 0 0.5em 0;
  }
  .grid-layout .post-excerpt {
    padding: 1rem;
  }
}

.post-thumbnail {
  margin: 0;
  line-height: 0.5;
}

.lptw-grid-element img {
  line-height: 0.5;
  padding: 0;
}

.gutter-sizer {
  width: 2%;
}

.lptw-video-container-controls {
  padding-top: 35px;
}

.lptw-video-container-featured {
  position: relative;
  padding-bottom: 25%;
  height: 0;
  overflow: hidden;
}

.lptw-video-container-featured iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lptw-video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.lptw-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* -------------------------- end of shortcodes styles -------------------------- */